In [238]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [239]:
bowling = pd.read_csv('./bowling_stats.csv')
batting = pd.read_csv('./batting_stats.csv')

In [240]:
bowling.sample(5)

,bowler,over,maiden,runs,wickets,economy,wide,noball,inning,series
277,Hasan Ali,23.5,7,61,2,2.55,0,1,Australia 1st Innings,"Australia vs Pakistan, 2nd Test at Melbourne, ..."
9,Scott Kuggeleijn,6.0,1,30,0,5.00,0,0,Australia 1st Innings,"New Zealand vs Australia, 2nd Test at Christch..."
86,Rehan Ahmed,22.0,2,85,2,3.86,0,0,India 1st Innings,"India vs England, 3rd Test at Rajkot, Feb 15 2..."
314,Nathan Lyon,8.0,2,14,2,1.75,0,0,Pakistan 2nd Innings,"Australia vs Pakistan, 1st Test at Perth, Dec ..."
253,Josh Hazlewood,9.0,2,16,4,1.77,0,0,Pakistan 2nd Innings,"Australia vs Pakistan, 3rd Test at Sydney, Jan..."

## Data Processing

In [241]:
bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bowler   493 non-null    object
 1   over     493 non-null    float64
 2   maiden   493 non-null    int64
 3   runs     493 non-null    int64
 4   wickets  493 non-null    int64
 5   economy  493 non-null    float64
 6   wide     493 non-null    int64
 7   noball   493 non-null    int64
 8   inning   493 non-null    object
 9   series   493 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 38.6+ KB

In [242]:
#'series' column contains data like 'TeamA vs TeamB, SeriesName'
# The 'inning' column contains the team name of the batting team
# Extracting the batting team name for 'vs' column
bowling['vs'] = bowling['inning'].str.split(' ').apply(lambda x: ' '.join(x[:-2]).strip())

# Now, we need to identify which team from 'match' column is not in 'vs' column
# Assuming 'match' column contains data like 'TeamX vs TeamY'
# Extracting the team that is not in 'vs' column
def find_next_team(a_vs_b, vs):
    teams = a_vs_b.split('vs')
    for team in teams:
        if team.strip() not in vs:
            return team.strip()

bowling['team'] = bowling.apply(lambda row: find_next_team(row['series'].split(',')[0], row['vs']), axis=1)

In [243]:
bowling['inning'] = bowling['inning'].str.split(' ').apply(lambda x: ' '.join(x[-2:]).strip())
bowling['match'] = bowling['series'].str.split(',').apply(lambda x: x[1].split('at')[0])
bowling['venue'] = bowling['series'].str.split(',').apply(lambda x: x[1].split('at')[1])
bowling['date'] = bowling['series'].str.split(',').apply(lambda x: x[2])
bowling['series'] = bowling['series'].str.split(',').apply(lambda x: x[3])

In [244]:
bowling.sample(10)

,bowler,over,maiden,runs,wickets,economy,wide,noball,inning,series,vs,team,match,venue,date
241,Josh Hazlewood,15.0,2,65,1,4.33,0,0,1st Innings,Pakistan tour of Australia,Pakistan,Australia,3rd Test,Sydney,Jan 03 2024
424,Jaydev Unadkat,2.0,1,1,0,0.50,0,0,2nd Innings,India tour of West Indies and United States o...,West Indies,India,1st Test,Roseau,Jul 12 2023
277,Hasan Ali,23.5,7,61,2,2.55,0,1,1st Innings,Pakistan tour of Australia,Australia,Pakistan,2nd Test,Melbourne,Dec 26 2023
126,Ruan de Swardt,29.0,7,61,2,2.10,0,0,1st Innings,South Africa tour of New Zealand,New Zealand,South Africa,1st Test,Mount Maunganui,Feb 04 2024
311,Mitchell Starc,9.0,2,31,3,3.44,0,0,2nd Innings,Pakistan tour of Australia,Pakistan,Australia,1st Test,Perth,Dec 14 2023
487,James Anderson,17.0,1,56,0,3.29,0,1,2nd Innings,The Ashes,Australia,England,1st Test,Birmingham,Jun 16 2023
326,Mitchell Santner,11.0,0,51,3,4.63,0,0,2nd Innings,New Zealand tour of Bangladesh,Bangladesh,New Zealand,2nd Test,Dhaka,Dec 06 2023
453,Mitchell Starc,17.0,0,88,3,5.17,1,1,1st Innings,The Ashes,England,Australia,2nd Test,London,Jun 28 2023
330,Taijul Islam,14.0,2,58,2,4.14,0,0,2nd Innings,New Zealand tour of Bangladesh,New Zealand,Bangladesh,2nd Test,Dhaka,Dec 06 2023
99,Ravindra Jadeja,12.4,4,41,5,3.23,0,2,2nd Innings,England tour of India,England,India,3rd Test,Rajkot,Feb 15 2024

In [245]:
batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   batsman      990 non-null    object
 1   runs         990 non-null    object
 2   balls        990 non-null    object
 3   minutes      990 non-null    object
 4   fours        990 non-null    object
 5   sixes        990 non-null    object
 6   strike_rate  990 non-null    object
 7   inning       990 non-null    object
 8   series       990 non-null    object
dtypes: object(9)
memory usage: 69.7+ KB

## Process data and extract information

In [246]:
batting['team'] = batting['inning'].str.split(' ').apply(lambda x: ' '.join(x[:-2]).strip())
batting['vs'] = batting.apply(lambda row: find_next_team(row['series'].split(',')[0], row['team']), axis=1)
batting['inning'] = batting['inning'].str.split(' ').apply(lambda x: ' '.join(x[-2:]).strip())
batting['match'] = batting['series'].str.split(',').apply(lambda x: x[1].split('at')[0])
batting['venue'] = batting['series'].str.split(',').apply(lambda x: x[1].split('at')[1])
batting['date'] = batting['series'].str.split(',').apply(lambda x: x[2])
batting['series'] = batting['series'].str.split(',').apply(lambda x: x[3])

## Convert data types

In [247]:
batting.drop(batting[batting['runs']=='-'].index, inplace=True)

In [248]:
batting['strike_rate'] = batting['strike_rate'].str.replace('-','0')

batting['runs'] = batting['runs'].astype('int16')
batting['balls'] = batting['balls'].astype('int16')
batting['minutes'] = batting['minutes'].astype('float16')
batting['fours'] = batting['fours'].astype('int16')
batting['sixes'] = batting['sixes'].astype('int16')
batting['strike_rate'] = batting['strike_rate'].astype('float16')

batting['date'] = pd.to_datetime(batting['date'])
batting.info()

<class 'pandas.core.frame.DataFrame'>
Index: 989 entries, 0 to 989
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   batsman      989 non-null    object
 1   runs         989 non-null    int16
 2   balls        989 non-null    int16
 3   minutes      989 non-null    float16
 4   fours        989 non-null    int16
 5   sixes        989 non-null    int16
 6   strike_rate  989 non-null    float16
 7   inning       989 non-null    object
 8   series       989 non-null    object
 9   team         989 non-null    object
 10  vs           989 non-null    object
 11  match        989 non-null    object
 12  venue        989 non-null    object
 13  date         989 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float16(2), int16(4), object(7)
memory usage: 81.1+ KB

**Remove special character *†* (wicket keeper) and (c) from batsman name**

In [249]:
batting['batsman'] = batting['batsman'].str.replace('†','').str.replace('(c)', '').str.strip()

In [250]:
batting[batting['batsman']=='Tom Latham']

,batsman,runs,balls,minutes,fours,sixes,strike_rate,inning,series,team,vs,match,venue,date
0,Tom Latham,38,69,100.0,7,0,55.06250,1st Innings,Australia tour of New Zealand,New Zealand,Australia,2nd Test,Christchurch,2024-03-08
22,Tom Latham,73,168,252.0,8,0,43.43750,2nd Innings,Australia tour of New Zealand,New Zealand,Australia,2nd Test,Christchurch,2024-03-08
86,Tom Latham,5,13,20.0,1,0,38.46875,1st Innings,Australia tour of New Zealand,New Zealand,Australia,1st Test,Wellington,2024-02-29
108,Tom Latham,8,18,24.0,1,0,44.43750,2nd Innings,Australia tour of New Zealand,New Zealand,Australia,1st Test,Wellington,2024-02-29
209,Tom Latham,40,104,134.0,1,1,38.46875,1st Innings,South Africa tour of New Zealand,New Zealand,South Africa,2nd Test,Hamilton,2024-02-13
231,Tom Latham,30,57,82.0,5,0,52.62500,2nd Innings,South Africa tour of New Zealand,New Zealand,South Africa,2nd Test,Hamilton,2024-02-13
236,Tom Latham,20,48,79.0,4,0,41.65625,1st Innings,South Africa tour of New Zealand,New Zealand,South Africa,1st Test,Mount Maunganui,2024-02-04
258,Tom Latham,3,13,20.0,0,0,23.06250,2nd Innings,South Africa tour of New Zealand,New Zealand,South Africa,1st Test,Mount Maunganui,2024-02-04
644,Tom Latham,4,20,25.0,0,0,20.00000,1st Innings,New Zealand tour of Bangladesh,New Zealand,Bangladesh,2nd Test,Dhaka,2023-12-06
666,Tom Latham,26,60,86.0,3,0,43.34375,2nd Innings,New Zealand tour of Bangladesh,New Zealand,Bangladesh,2nd Test,Dhaka,2023-12-06
685,Tom Latham,21,44,57.0,3,0,47.71875,1st Innings,New Zealand tour of Bangladesh,New Zealand,Bangladesh,1st Test,Sylhet,2023-11-28
707,Tom Latham,0,6,4.0,0,0,0.00000,2nd Innings,New Zealand tour of Bangladesh,New Zealand,Bangladesh,1st Test,Sylhet,2023-11-28

In [251]:
openers_per_match = batting. \
    select_dtypes(exclude=['datetime64']). \
    groupby(['series', 'match', 'inning']). \
    apply(lambda x: x.head(2), include_groups=False).reset_index(drop=True)

# Aggregation
openers_agg = openers_per_match. \
    groupby(['batsman'], sort=False). \
    agg({
    'runs': 'sum',
    'balls': 'sum',
    'minutes': 'sum',
    'fours': 'sum',
    'sixes': 'sum',
    'strike_rate': 'mean',
    'batsman': 'size',
})

openers_agg = openers_agg.rename(columns={'batsman': 'appearances'})

In [252]:
openers_agg['average'] = np.divide(openers_agg['runs'], openers_agg['appearances']).round(2)
all_openers = openers_agg.sort_values(by=['runs', 'average', 'balls', 'appearances'], ascending=False)

In [253]:
all_openers[:4]

,runs,balls,minutes,fours,sixes,strike_rate,appearances,average
batsman,,,,,,,,
Yashasvi Jaiswal,472,618,865.0,43,19,66.570312,6,78.67
Zak Crawley,395,541,802.0,50,3,65.006248,10,39.50
Usman Khawaja,384,968,1511.0,43,1,34.467186,10,38.40
David Warner,304,489,641.0,31,5,46.113281,8,38.00

In [254]:
batsman_per_match = batting. \
    select_dtypes(exclude=['datetime64']). \
    groupby(['batsman'], sort=False)
    # Aggregation
batsman_agg = batsman_per_match. \
    agg({
    'runs': 'sum',
    'balls': 'sum',
    'minutes': 'sum',
    'fours': 'sum',
    'sixes': 'sum',
    'strike_rate': 'mean',
    'batsman': 'size',
})

batsman_agg = batsman_agg.rename(columns={'batsman': 'appearances'})

In [255]:
batsman_agg['average'] = np.divide(batsman_agg['runs'], batsman_agg['appearances']).round(2)
all_batsman = batsman_agg.sort_values(by=['runs', 'average', 'balls', 'appearances'], ascending=False)

In [263]:
all_batsman[:10]

,runs,balls,minutes,fours,sixes,strike_rate,appearances,average
batsman,,,,,,,,
Yashasvi Jaiswal,933,1363,1886.0,95,27,68.643974,14,66.64
Usman Khawaja,922,2285,3465.0,104,4,37.138493,22,41.91
Zak Crawley,698,953,1423.0,86,6,67.406250,18,38.78
Steven Smith,680,1383,2239.0,74,3,63.218040,22,30.91
Mitchell Marsh,668,889,1306.0,93,12,64.553711,16,41.75
Ben Duckett,663,817,1358.0,88,2,77.402779,18,36.83
Joe Root,648,1105,1637.0,64,7,58.807293,18,36.00
Kane Williamson,619,1221,1739.0,74,3,49.218750,12,51.58
Travis Head,582,811,1275.0,76,8,56.667187,20,29.10
Rohit Sharma,563,938,1383.0,68,9,55.256695,14,40.21

In [258]:
all_rounders = pd.merge(batting, bowling, how='outer', left_on='batsman', right_on='bowler')
all_rounders = all_rounders.drop_duplicates()

In [259]:
bowler_per_match = bowling. \
    select_dtypes(exclude=['datetime64']). \
    groupby(['bowler'])
# Aggregation
bowler_agg = bowler_per_match. \
    agg({
    'runs': 'sum',
    'maiden': 'sum',
    'over': 'sum',
    'wickets': 'sum',
    'economy': 'mean',
    'wide': 'sum',
    'noball': 'sum',
    'bowler': 'size',
})

bowler_agg = bowler_agg.rename(columns={'bowler': 'appearances'})

In [260]:
best_bowlers = bowler_agg.sort_values(by=['wickets', 'over', 'appearances'], ascending=False)

In [261]:
best_bowlers[:8]

,runs,maiden,over,wickets,economy,wide,noball,appearances
bowler,,,,,,,,
Pat Cummins,1129,38,338.4,47,3.420000,7,8,22
Mitchell Starc,1225,46,298.2,46,4.094500,14,6,20
Josh Hazlewood,917,63,291.8,46,3.151000,3,10,20
Nathan Lyon,937,35,288.3,43,3.114118,0,0,17
Ravichandran Ashwin,817,31,220.5,39,3.833846,0,0,13
Jasprit Bumrah,476,26,151.0,31,3.180000,0,7,11
Ravindra Jadeja,540,36,180.9,24,3.002000,0,12,10
Matt Henry,390,36,137.2,23,2.783750,3,0,8